.open-sans-normal {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  

/* Shared Styles */
.textPrimary{
    color: rgb(253, 110, 10);
}
.btnPrimary{
    background-color: rgb(253, 110, 10);
    font-weight: bold;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    border: none;
}
.section-title{
    font-size: 35px;
    font-weight: bold;
    color: rgb(24, 24, 24);
}
.sectionDiscription{
    font-size: 18px;
    color: rgb(117, 117, 117);
    font-weight: 400;
    
}
.secondarBg{
    background-color: rgb(255, 248, 243);
}
.textCenter{
    text-align: center;
}
/* Nav Styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between ;
    margin: 0 150px;
}


.nav-tittle{
    font-weight: 800;
    font-size: 45px;
    
}
.dark2{
    color: rgb(71, 71, 71);
}
nav ul li {
    list-style: none;
    margin-right: 50px;
}
nav li a{
    text-decoration: none;
    
    font-size: 20px;
}
nav ul{
    display: flex;
    align-items: center;
}

/* Header */


header{
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}


/* Banner Styles */

.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 230px;
}
.bannerContent{
    max-width: 585px;
}
.bannerGreetings{
    font-size: 45px;
    font-weight: 600;
}
.bannerTitle{
    font-size: 85px;
    font-weight: 700;
}
.bannerDescription{
    font-weight: 400;
    font-size: 18px;
}
.bannerImage{
    width: 584px;
    height: 676px;
}

/* Main  */
main{
    max-width: 1140px;
    margin: 0 auto;
    margin-bottom: 100px;
   
}
/* About Styles */
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    margin-top: 130px;
    
}
.aboutItems{
    display: flex;
    justify-content: space-around ;
    
}
.itemTittle{
    font-weight: 400px;
    font-size: 20px;
}
.itemDescription{
    font-weight: bold;
    font-size: 20px;
    row height: 30px;
    
}
/* Skills Section */
.skills{
    margin: 0px 380px;
}


.skillCOntainer{
    display: flex;
    gap: 24px;

}
.skill{
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}

/* Resume Section Styles */
.resume{
    margin: 0px 380px;
}
.resumeContainer{
    display: flex;
    gap: 24px;
}
.resumecolumnTitle{
    color: rgb(71, 71, 71);
    font-weight: 700;
    font-size: 30px;
}
.experienceTitle{
    color: rgb(71, 71, 71);
    font-size: 25px;
    font-weight: 700;
    
}
.experiencesubTitle{
    color: rgb(117, 117, 117);
    font-size: 20px;
    margin-bottom: 20px;
}
.experienceDescription{
    color: rgb(117, 117, 117);
}
.resumeDownload{
    margin-top: 50px;
}

/* Footer Style */

footer{
    padding: 130px 230px;
    display: flex;
    gap: 100px;
    margin-top: 50px;
}
.footerColum{
    width: 50%;
}
footer input[type="text"], footer input[type="email"], footer textarea {
        height: 64px;
        border-radius: 5px;
        background-color: white;
        color: rgb(117, 117, 117);
        display: block;
        width: 100%;
        padding: 10px 20px;
        margin-bottom: 24px;
        border: none;
}